#include "vera_stm32hal.h"
#include <string.h>

vera_err_t vera_decode_stm32hal_rx_frame(
	CAN_RxHeaderTypeDef*    frame,
	uint8_t*                data,
	vera_decoding_result_t* result
) {
	vera_can_rx_frame_t vera_frame = {
		.id             = frame->IDE == CAN_ID_EXT ? frame->ExtId : frame->StdId,
		.dlc            = frame->DLC,
		.is_extended_id = frame->IDE == CAN_ID_EXT ? true : false,
		.timestamp      = frame->Timestamp
	};
	memcpy(vera_frame.data, data, frame->DLC);

	return vera_decode_can_frame(vera_frame, result);
}

{{- range .Messages}}

vera_err_t vera_encode_autodevkit_{{.Name}}(
	CAN_TxHeaderTypeDef* frame,
	uint8_t*             data
	{{- range .Signals -}}
	,
	uint64_t {{.Name}}
	{{- end}}
) {
	if (!frame)	return vera_err_null_arg;

	memset(data, 0, sizeof(uint8_t)*8);
	frame->ID = {{printf "%#x" .ID}};
	frame->DLC = {{.DLC}};
	{{range .Signals}}
	_insert_data_in_payload(data, {{.Name}}, {{.StartBit}}, {{.Length}});
	{{- end}}
	return vera_err_ok;
}
{{- end}}
