name: Test (library and codegen)

on:
  push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Test library
        run: |
          go test ./...

      - name: Test generated code
        run: |
          cd gentest
          make
